/* Home css */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');  

/* Container */
.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  background-color: #fae8cf;
}

/* End of Container */

/* Title */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(20%);
}

.title h1 a {
  text-decoration: none;
  font-size: 43px;
  color: #5e5243;
  font-family: 'Pacifico', cursive;
  cursor: cursor;
}

/* End of Title */

/* Loading */
.loader {
  width: 80px;
  height: 150px;
  position: relative;
  display: flex;
  margin: 0 auto;
  transform: translateY(50%);
}

.loader div {
  display: flex;
  position: absolute;
  left: 8px;
  width: 16px;
  background-color: #615e59;
  animation: loading .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  
}

.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

/* End of Loading */

/* Movies Area */
.movies {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 50px;
  padding: 20px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #867b6c;
  border: 1px solid #5e5243;
  border-radius: 7px;
  margin-bottom: 10px;
  position: relative;
}

/*  */
.movies_info {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* movies length */
.movies_view {
  font-size: 21px;
  font-weight: bold;
  color: #5e5243;
  text-decoration: none;
}

/* End of movies length */

/* searching */
input {
  width: 300px;
  border: 2px solid #5e5243;
  border-radius: 5px;
  outline: none;
}

input::placeholder {
  padding: 5px;
  color: #5e5243;
}
/* End of searching */

/* Movies count */
.movies_count {
  font-size: 20px;
}

/* End of Movies count */

/* End of Movies Area */

@media screen and (max-width: 1090px) {
  .movies {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@keyframes loading {
  0% {
    top: 8px;
    height: 64px;
  }

  50% {
    top: 24px;
    height: 32px;
  }

  100% {
    top: 24px;
    height: 32px;
  }
}